<system.identityModel>
  <identityConfiguration saveBootstrapContext="true">
    
    <audienceUris>
      <add value="https://localhost:44398/" />
      <add value="http://samlpoc"/>
    </audienceUris>
    
    <issuerNameRegistry type="System.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <trustedIssuers>
        <add thumbprint="8ba946937159cf145c51bd82de7110eecc872656" />
      </trustedIssuers>
    </issuerNameRegistry>

    <certificateValidation certificateValidationMode="None" />
  
  </identityConfiguration>
</system.identityModel>