<system.identityModel>
  <identityConfiguration saveBootstrapContext="true">
    
    <audienceUris>
      <add value="https://localhost:44398/" />
      <add value="http://samlpoc"/>
    </audienceUris>
    
    
    <!-- The following is not best practice since Azure AD will roll over the certificates periodically.
    It's best to store issuer details in an easily maintainable manner. See the following...
    https://www.codeisahighway.com/effectively-handle-azure-active-directory-or-other-sts-keys-rolling/
    https://msdn.microsoft.com/en-us/library/azure/dn641920.aspx#BKMK_Manually
    -->
    <issuerNameRegistry type="System.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <trustedIssuers>
        <add thumbprint="8ba946937159cf145c51bd82de7110eecc872656" />
      </trustedIssuers>
    </issuerNameRegistry>

    <certificateValidation certificateValidationMode="None" />
  
  </identityConfiguration>
</system.identityModel>